{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">
  <title>Carros</title>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'img/logo.png' %}" alt="logo da empresa">
        <span class="fs-4">Venda de Carros</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home'%}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'listar'%}" class="nav-link">Carros</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>

    <h1>Lista de carros a venda</h1>
    {% bootstrap_messages %}
    {% for carro in carros %}
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
          <img src="{{carro.foto.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ carro.marca }} {{carro.modelo}}</h5>
            <p class="card-text">{{ carro.preco }}</p>
            <a href="{% url 'detalhar' carro.id %}" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'adicionar' %}" role="button">Adicionar Carro</a>


  </div>

</body>

</html>